@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


*{
    font-family: Outfit;
}

.active hr{
    @apply block; /*here block class will set the display:block which means some 
    display is set....this makes the <hr/> to work (hr->underline tag)....here <hr/> is block level element
    so we have set display to block*/
}

::-webkit-scrollbar {
    @apply hidden;
}

@media (max-width:740px) {
    .active p{
      @apply text-white bg-[#5f6FFF]
    }
}

.touch-active {
  opacity: 1 !important;
  visibility: visible !important;
  transform: scale(1.05);
}
  